@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --amplify-components-button-primary-background-color: black;
  --amplify-internal-button-background-color: #000000;
  --amplify-internal-button-color: #000000;
  --amplify-components-tabs-item-active-border-color: #000000;
  --amplify-components-tabs-item-active-border-color: #000000;
  --amplify-components-button-primary-color: white;
  --amplify-components-tabs-item-color: black;
  --amplify-components-tabs-item-active-color: black;
  --amplify-components-button-link-color: #000000; 
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;  
  color: #55595e;
}

a {
  color: #fff;
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;  
  background-color: #000000;
  color: white;
  letter-spacing: -.025em;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100vw;
  box-sizing: border-box;
}

.h2 {
  letter-spacing: -.025em;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  color: #3c3a3b;

}

.logo {
  text-align: center;
  font-weight: bold;
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;    
  align-items: center;
  justify-content: right;
  position: relative;
  color: white;  
  width: 100vw;
  box-sizing: border-box;
}

.banner-overlay {  
  padding: 20px 40px;
  text-align: center;
  border-radius: 8px;
}

.banner-overlay h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.banner h1 {
  font-size: 26px;
  margin: 0;
  font-family: Montserrat, san-serif;  
}

.header-buttons {
  margin-top: 10px;
}

.header-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ffffffaa;
  color: #222;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header-buttons button:hover {
  background-color: #fff;
}


.breadcrumb {
  padding: 10px 20px;
  background-color: #000000;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  color: #e2e2e2;
  width: 100vw;
  box-sizing: border-box;
}

.breadcrumb a {
  margin-right: 5px;
}

.main {
  display: flex;
  flex: 1 0 auto;
  min-height: calc(100vh - 100px); /* adjust based on your header height */
  width: 100vw;
  box-sizing: border-box;
}

.sidebar {
  width: 200px;
  background-color: #000000;
  color: #e2e2e2;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.content {
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* top align form content */
  background-color: #dfe9f5;
  background-image: url('./assets/img/edwin-compton-Z8XlmAj65iM-unsplash.png');
  background-size: cover;
}

.logo-img {
  width: 100px;
  height: auto;
}

.nav-item {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
}

.disabled-link {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .layout {
    width: 100vw;
    overflow-x: hidden;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }

  .sidebar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .sidebar li {
    margin: 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar img {
    margin: 0 0 4px;
  }


  .content {
    width: 100%;
    padding: 10px;
  }

  .score-input-container {
    width: 90vw;
    padding: 16px;
  }

  .settings-container
  {
    width: 90vw;
    flex-direction: column;
    padding: 16px;
  }
 
  .main {
    flex-direction: column;
    width: 100vw;
  }
}