@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --amplify-components-button-primary-background-color: black;
  --amplify-internal-button-background-color: #000000;
  --amplify-internal-button-color: #000000;
  --amplify-components-tabs-item-active-border-color: #000000;
  --amplify-components-tabs-item-active-border-color: #000000;
  --amplify-components-button-primary-color: white;
  --amplify-components-tabs-item-color: black;
  --amplify-components-tabs-item-active-color: black;
  --amplify-components-button-link-color: #000000; 
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #dfe9f5;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #55595e;
}

a {
  color: #fff;
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #dfe9f5;
}

.header {
  display: flex;
  align-items: center;  
  background-color: #000000;
  color: white;
  letter-spacing: -.025em;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
}

.h2 {
  letter-spacing: -.025em;
  line-height: 1;
  font-weight: 600;
  font-size: 1.5rem;
  color: #3c3a3b;
}

.logo {
  text-align: center;
  font-weight: bold;
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;    
  align-items: center;
  justify-content: right;
  position: relative;
  color: white;  
  width: 100%;
}

.banner-overlay {  
  padding: 20px 40px;
  text-align: center;
  border-radius: 8px;
}

.banner-overlay h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.banner h1 {
  font-size: 26px;
  margin: 0;
  font-family: Montserrat, san-serif;  
}

.breadcrumb {
  padding: 10px 20px;
  background-color: #000000;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  color: #e2e2e2;
  width: 100%;
}

.breadcrumb a {
  margin-right: 5px;
}

.main {
  display: flex;
  flex: 1;
  background-color: #dfe9f5;
}

.sidebar {
  width: 200px;
  background-color: #000000;
  color: #e2e2e2;
  padding: 20px;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar li a {
  color: #e2e2e2;
  text-decoration: none;
}

.sidebar li button {
  background: none;
  border: none;
  color: #e2e2e2;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #dfe9f5;
  min-height: 100%;
  overflow-y: auto;
}

.logo-img {
  width: 100px;
  height: auto;
}

@media (max-width: 768px) {
  .layout {
    width: 100%;
  }

  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .content {
    width: 100%;
  }
}